* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.header {
    display: inline;
    padding: 20px;
}

body {
    background-image: linear-gradient( 
        rgb(75, 46, 155) 0%,
        rgb(175, 68, 179) 50%,
        rgb(75, 46, 155) 100%
    );
}

.name {
    background: linear-gradient(red, orange 40%, yellow, green, blue, violet);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.header div {
    padding-right: 15px;
    float: right;
    font-size: 24px;
}

.name {
    font-size: 48px;
}

.header div ul {
    list-style-type: none;
}

.header div ul li {
    display: inline-flex;
    margin-left: 25px;
}

main {
    margin: auto;
}

a {
    color: white;
    text-decoration: none;
    padding: 5px;
}

p {
    font-size: 20px;
    padding: 15px;
    color:lightpink;
}

.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  }

.me {
    height: 350px;
    width: 263px;
    margin-bottom: 25px;
    margin-left: 15px;
    background-image: url("../Images/me.jpg");
    background-position: center;
}

h2 {
    font-size: 36px;
    padding: 10px;
    background: linear-gradient(red, orange 40%, yellow, green, blue, violet);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h3 {
    font-size: 24px;
}

.work-box {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    padding: 15px;    
    margin: 0 50px 0 10px;
    justify-content: flex-start;
    outline: 2px dashed rgb(0, 189, 164);
    outline-offset: -10px;
    transition: all 0.5s ease-in-out;
}

.prework-study-guide, .challenge01 {
    display: flex;
    flex-direction: column;
}

.box-header {
    display: inline;
    background: linear-gradient(rgb(6, 179, 6), rgb(41, 235, 235));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.work-box .box-header {
    display: inline;
    margin: 20px 20px 10px 20px;
    padding: 5px 20px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 5px;
    transition: all 0.5s ease-in-out;
    align-self: flex-start;
}

.work-box:hover,
.work-box:hover .box-header {
    box-shadow: inset 0px 0px 8px #31cc31, 0 0 15px #31cc31;
}

.box-body img {
    rotate: -1.5deg;
    border: 2px solid rgb(1, 177, 89);
    width: 100%;
    height: auto;
    opacity: 50%;
}

.work, .contact-me {
    display: flex;
    flex-direction: column;
}

.work-box > div > * {
    align-items: center;
    justify-content: center;
}

.prework-study-guide img {
    width: 100%;
    height: auto;
}
.challenge01 img {
    width: 50%;
    height: auto;
}
